name: Build

on:
  push:
    tags:
      - "*.*.*"

permissions:
  contents: write

jobs:
  wheels:
    runs-on: "ubuntu-latest"

    steps:
      # https://github.com/actions/checkout
      - name: checkout
        uses: actions/checkout@v6

      - name: Version check
        run: |
          #!/bin/sh
          # verify that the tag matches the version string in pyproject.toml
          set -eux
          TAG="${GITHUB_REF##refs/tags/v}"  # e.g. 1.0.0
          grep -qE "^version = \"$TAG\"$" pyproject.toml

      # https://github.com/astral-sh/setup-uv
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build package
        run: make wheel OUT_DIR=wheelhouse

      # https://github.com/actions/upload-artifact
      - uses: actions/upload-artifact@v6
        with:
          retention-days: 30
          path: ./wheelhouse/*.whl

      - name: create release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          #!/bin/sh
          set -eux
          TAG="${GITHUB_REF##refs/tags/v}"  # e.g. 1.0.0
          gh release create "v${TAG}" --generate-notes ./wheelhouse/*.whl
